<div class="uk-overflow-auto preferred-radius borderline">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Products</th>
                <th>Transactions</th>
                <th>Total Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="small">1</td>
                <td>Lekki</td>
                <td>10</td>
                <td>₦350,410.00</td>
            </tr>
            <tr>
                <td class="small">1</td>
                <td>Lekki</td>
                <td>10</td>
                <td>₦350,410.00</td>
            </tr>
            <tr>
                <td class="small">1</td>
                <td>Lekki</td>
                <td>10</td>
                <td>₦350,410.00</td>
            </tr>
            <tr>
                <td class="small">1</td>
                <td>Lekki</td>
                <td>10</td>
                <td>₦350,410.00</td>
            </tr>
            <tr>
                <td class="small">1</td>
                <td>Lekki</td>
                <td>10</td>
                <td>₦350,410.00</td>
            </tr>
            <tr>
                <td class="small">1</td>
                <td>Lekki</td>
                <td>10</td>
                <td>₦350,410.00</td>
            </tr>
            <tr>
                <td class="small">1</td>
                <td>Lekki</td>
                <td>10</td>
                <td>₦350,410.00</td>
            </tr>
            <tr>
                <td class="small">1</td>
                <td>Lekki</td>
                <td>10</td>
                <td>₦350,410.00</td>
            </tr>
        </tbody>
    </table>
</div>