<div class="uk-overflow-auto table-y-overflow preferred-radius borderline">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Sales</th>
                <th>Net</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="black thicker">Gross Sales</td>
                <td>₦3,410.00</td>
                <td>₦3,410.00</td>
            </tr>
            <tr>
                <td class="light thicker">Discount</td>
                <td>₦0.00</td>
                <td>₦0.00</td>
            </tr>
            <tr>
                <td class="black thicker">Net Sales</td>
                <td>₦3,410.00</td>
                <td>₦3,410.00</td>
            </tr>
            <tr>
                <td class="light thicker">Tax</td>
                <td>₦0.00</td>
                <td>₦0.00</td>
            </tr>
            <tr>
                <td class="black thicker">Total via eyowo</td>
                <td>₦3,410.00</td>
                <td>₦3,410.00</td>
            </tr>
            <tr>
                <td class="black thicker">Total via cash</td>
                <td>₦3,410.00</td>
                <td>₦3,410.00</td>
            </tr>
            <tr>
                <td class="black thicker">Total via POS</td>
                <td>₦3,410.00</td>
                <td>₦3,410.00</td>
            </tr>
        </tbody>
    </table>
</div>