<div class="uk-overflow-auto table-y-overflow preferred-radius borderline">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Phone number</th>
                <th>Amount</th>
                <th>Branches</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {%- for entry in site.data.table.transaction-business -%}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.phone_number }}</td>
                <td>
                    <div class=" d-flx al-i-c prefix is-standard grey">
                        {%- include tools/icons.html icon="naira" -%}
                        {{ entry.amount }}
                    </div>
                </td>
                <td>{{ entry.branch }}</td>
                <td>{{ entry.time }}</td>
            </tr>
            {%- endfor -%}
        </tbody>
    </table>
</div>