<section class="bg-white is-raised nanotext hide-largeup wrapper-x">
    <h2 class="sr">
        Site Branding &amp; Navigation Tools
    </h2>
    <div class="d-flx al-i-c j-c-sb maxwidth-sm mx-auto pos-rel">
        <a class="logo-holder d-blk" href="{{ site.url }}">
            {% include tools/icons.html icon="logo" %}
        </a>
        <div class="d-flx al-i-c j-c-sb">
            {%- include components/buttons.html buttons="premium"-%}
            <button class="hide-largeup pos-rel toggle-mobile-nav ml-1" aria-label="Toggle Navigation" nav-toggler>
                <span class="slats"></span>
            </button>
        </div>
        {% include shell/nav/mobilenav.html %}
    </div>
</section>
