<section class="bg-white nanotext hide-largeup wrapper-x">
    <h2 class="sr">
        Site Branding &amp; Navigation Tools
    </h2>
    <div class="d-flx al-i-c j-c-sb">
        <div class="d-flx al-i-c">
            <button class="hide-mediumup pos-rel toggle-mobile-nav prefix is-wider" aria-label="Toggle Navigation" uk-toggle="target: #offcanvas">
                <span class="slats"></span>
            </button>
            <a class="logo-holder d-blk" href="{{ site.url }}">
                {% include tools/icons.html icon="logo" %}
            </a>
        </div>
        {%- include components/buttons.html buttons="premium"-%}
        {% include shell/nav/mobilenav.html %}
    </div>
</section>
