<section id="fund-account" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Fund Account</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>

        <a href="" class="pb-1 d-flx al-i-c pt-1 prefix is-xsmall">
            {%- include tools/icons.html icon="arrow-left" -%}
            Back
        </a>

        <div class="py-h grid is-multi-col mostly-2">
            <h3 class="m-0 nano-caps">You're funding from: </h3>
            <p class="m-0 pico-caps co-sweet-gray mr-h">
                Sholanke Kayode Joseph
                <span>GTBANK<sup>******</sup>2217</span>
            </p>
        </div>
        
        <div class="d-flx flx-dir-c">
            <label for="fund-account" class="mt-h mb-h">Enter amount to fund with:</label>
            <div class="pos-rel naira">
                {%- include tools/icons.html icon="naira" -%}
                <input type="text" name="fund-account" id="fund-account" class="pl-1h pr-1" placeholder="Enter amount" autofocus>
            </div>
        </div>

        <div class="d-flx j-c-fe pt-2">
            <a href="" class="btn btn-standard btn-dark">NEXT</a>
        </div>
    </div>
</section>