<section id="add-till" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Create Till</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>
        
        <div class="grid is-multi-col al-i-c mostly-2 pt-1h">
            <div class="d-flx flx-dir-c">
                <label for="business-name" class="mt-h mb-h">Branch </label>
                <input type="text" name="business-name" id="business-name" class="px-h" value="Obiweezy store Lekki" disabled>
            </div>

            <div class="d-flx flx-dir-c">
                <label for="business-mail" class="mt-h mb-h">Till's phone number</label>
                <div class="pos-rel input-icons">
                    <div class="px-h">
                        <span>+234</span>
                    </div>
                    <input type="tel" name="phone-number" id="phone-number" class="pl-3 pr-1" autofocus>
                </div>
            </div>
        </div>

        <div class="d-flx j-c-fe pt-2">
            <a href="" class="btn btn-standard btn-dark">SAVE</a>
        </div>
    </div>
</section>