<section id="add-business" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Create Business</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>
        
        <div class="grid is-multi-col al-i-c mostly-2 pt-1h">
            <div class="d-flx flx-dir-c">
                <label for="business-name" class="mt-h mb-h">Business name</label>
                <input type="text" name="business-name" id="business-name" class="px-h" placeholder="Enter business name" autofocus>
            </div>

            <div class="d-flx flx-dir-c">
                <label for="business-mail" class="mt-h mb-h">Business mail</label>
                <input type="email" name="business-mail" id="business-mail" class="px-h" placeholder="Enter mail here" autofocus>
            </div>

            <div class="d-flx flx-dir-c">
                <label for="business-mail" class="mt-h mb-h">Business logo (optional)</label>
                <div class="js-upload uploads dashed-border" uk-form-custom>
                    <input type="file" multiple>
                    <button class="flex-center-center width-100-pc" type="button" tabindex="-1">
                        {%- include tools/icons.html icon="uploads" -%}
                        <span class="ml-h">Upload file...</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="pt-2">
            <a href="" class="btn btn-standard btn-dark">Create Business</a>
        </div>
    </div>
    </section>