<section id="add-branch" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Create Branch</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>
        
        <div class="grid is-multi-col al-i-c mostly-2 pt-1h">
            <div class="d-flx flx-dir-c">
                <label for="branch-name" class="mt-h mb-h">Branch Name</label>
                <input type="text" name="branch-name" id="branch-name" class="px-h" placeholder="Enter business name..." autofocus>
            </div>

            <div class="d-flx flx-dir-c">
                <label for="branch-location" class="mt-h mb-h">Branch Location</label>
                <input type="text" name="branch-location" id="branch-location" class="px-h" placeholder="Enter address">
            </div>

            <div class="d-flx flx-dir-c">
                <label for="branch-email" class="mt-h mb-h">Email Address of the Branch</label>
                <input type="email" name="branch-email" id="branch-email" class="px-h" placeholder="Enter email address here">
            </div>

            <div class="d-flx flx-dir-c">
                <label for="business-mail" class="mt-h mb-h">Branch image</label>
                <div class="js-upload uploads dashed-border" uk-form-custom>
                    <input type="file" multiple>
                    <button class="flex-center-center width-100-pc" type="button" tabindex="-1">
                        {%- include tools/icons.html icon="uploads" -%}
                        <span class="ml-h">Upload file...</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="pt-2">
            <a href="" class="btn btn-standard btn-dark">Create New Branch</a>
        </div>
    </div>
</section>