<section id="add-products" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Create Product</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>
        
        <div class="grid is-multi-col al-i-c mostly-2 pt-1h">
            <div class="d-flx flx-dir-c">
                <label for="business-name" class="mt-h mb-h">Product name</label>
                <input type="text" name="business-name" id="business-name" class="px-h" placeholder="Enter business name" autofocus>
            </div>

            <div class="d-flx flx-dir-c">
                <label for="price" class="mt-h mb-h">Price</label>
                <input type="email" name="price" id="price" class="px-h" placeholder="Enter price" autofocus>
            </div>

            <div class="d-flx flx-dir-c">
                <label for="add-to-store" class="mt-h mb-h">Add to store</label>
                <div class="uk-inline input pos-rel" id="add-to-store">
                    <button class="uk-button input d-flx al-i-c j-c-sb px-h inline-shadow preferred-radius" type="button">
                        Select store
                        <a href="" class="co-sweet-gray">
                            {%- include tools/icons.html icon="chevron-down" -%}
                        </a>
                    </button>
                </div>
            </div>

            <div class="d-flx flx-dir-c">
                <label for="business-mail" class="mt-h mb-h">Upload image</label>
                <div class="js-upload uploads dashed-border" uk-form-custom>
                    <input type="file" multiple>
                    <button class="uk-button flex-center-center bg-platinum width-100-pc" type="button" tabindex="-1">
                        {%- include tools/icons.html icon="uploads" -%}
                        <span class="ml-h">Upload file...</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="d-flx j-c-fe pt-2">
            <a href="" class="btn btn-standard btn-dark">SAVE</a>
        </div>
    </div>
</section>