<section id="create-till" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Create Till</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>
        
        <div class="d-flx flx-dir-c mt-1h">
            <label for="business-name" class="mt-h mb-h">Select Branch</label>
            <div class="uk-inline pos-rel">
                <button class="d-flx al-i-c j-c-sb px-h input co-sweet-gray inline-shadow preferred-radius" type="button">
                    All branches
                    <a href="" class="co-sweet-gray">
                        {%- include tools/icons.html icon="chevron-down" -%}
                    </a>
                </button>
            </div>
        </div>

        <div class="pt-2">
            <a href="" class="btn btn-standard btn-dark">Create New Till</a>
        </div>
    </div>
</section>