<section id="create-tax" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Create Tax</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>
        
        <div class="grid is-multi-col al-i-c mostly-2 pt-1">
            <div class="d-flx flx-dir-c">
                <label for="name" class="mt-h mb-h">Name</label>
                <input type="text" name="name" id="name" class="px-h" autofocus>
            </div>

            <div class="d-flx flx-dir-c">
                <label for="percentage" class="mt-h mb-h">Percentage</label>
                <input type="text" name="percentage" id="percentage" class="px-h"  class="co-primary">
            </div>

            <div class="d-flx flx-dir-c">
                <label for="branches" class="mt-h mb-h">Branches</label>
                <button class="input tx-l co-primary px-1" uk-toggle="target: #edit-branches">All locations</button>
            </div>
        </div>

        <div class="pt-2">
            <a href="" class="btn btn-standard btn-dark">Save</a>
        </div>
    </div>
</section>


<section id="edit-branches" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Edit branches</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>
        
        <div class="pt-1h">
            <div class="pos-rel input-icons search-input">
                {%- include tools/icons.html icon="search" -%}
                <input type="tel" name="search" id="search" class="pl-2h pr-1" placeholder="Search history">
            </div>

            <ul class="none m-0 mt-1h">
                <li class="py-h">
                    <label>
                        <input class="uk-checkbox" type="checkbox" checked>
                        <span class="suffix nanotext co-black">Select all</span>
                    </label>
                </li>

                <li class="py-h">
                    <label>
                        <input class="uk-checkbox" type="checkbox">
                        <span class="suffix nanotext co-black">Ileja City Mall</span>
                    </label>
                </li>

                <li class="py-h">
                    <label>
                        <input class="uk-checkbox" type="checkbox">
                        <span class="suffix nanotext co-black">Maryland Mall</span>
                    </label>
                </li>

                <li class="py-h">
                    <label>
                        <input class="uk-checkbox" type="checkbox">
                        <span class="suffix nanotext co-black">Opebi Allen</span>
                    </label>
                </li>

                <li class="py-h">
                    <label>
                        <input class="uk-checkbox" type="checkbox">
                        <span class="suffix nanotext co-black">Ikorodu</span>
                    </label>
                </li>

                <li class="py-h">
                    <label>
                        <input class="uk-checkbox" type="checkbox">
                        <span class="suffix nanotext co-black">Ileja City Mall</span>
                    </label>
                </li>
            </ul>
        </div>

        <div class="pt-1h">
            <a href="" class="btn btn-standard btn-dark">Save</a>
        </div>
    </div>
</section>

