<section id="create-till" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Create Till</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>

        <div class="grid is-multi-col al-i-c mostly-2 pt-1h">
            <div class="d-flx flx-dir-c">
                <label for="till-name" class="mt-h mb-h">Till Name</label>
                <input type="text" name="till-name" id="till-name" class="px-h" placeholder="Enter product name..." autofocus>
            </div>

            <div class="d-flx flx-dir-c">
                <label for="phone-number" class="mt-h mb-h">Phone number</label>
                <input type="tel" name="phone-number" id="phone-number" class="px-h">
            </div>

            <div class="d-flx flx-dir-c">
                <label for="business-name" class="mt-h mb-h">Select Branch</label>
                <div class="uk-inline pos-rel">
                    <button class="d-flx al-i-c j-c-sb px-h input co-sweet-gray inline-shadow preferred-radius" type="button">
                        All branches
                        <a href="" class="co-sweet-gray">
                            {%- include tools/icons.html icon="arrow-dropdown" -%}
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="pt-2">
            <a href="#created-till" class="btn btn-standard btn-dark" uk-toggle>Create New Till</a>
        </div>
    </div>
</section>


<section id="created-till" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Till Created</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>
        
        <div class="pt-1h grid is-multi-col mostly-2">
            <div class="inline-shadow borderline pb-1 px-1 pt-h mb-h preferred-radius float-item classic-card">
                <p class="m-0 co-black mediumtext fw-normal">AHB-OBI8</p>
                <p class="m-0 co-sweet-gray pico-caps">USERNAME</p>
            </div>
            
            <div class="inline-shadow borderline pb-1 px-1 pt-h mb-h preferred-radius float-item classic-card">
                <p class="m-0 co-black mediumtext fw-normal">83TR3HE</p>
                <p class="m-0 co-sweet-gray pico-caps">PASSWORD</p>
            </div>
        </div>

        <div class="pt-1">
            <a href="" class="btn btn-standard btn-dark">Dismiss</a>
        </div>
    </div>
</section>