<section id="email-receipt" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical d-flx flx-dir-c j-c-sb">
        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Email receipt</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>

        <div class="d-flx flx-dir-c mt-h">
            <label for="phone-number" class="mb-h co-primary">Enter customers email address</label>
            <input type="text" name="phone-number" id="phone-number" class="px-h" autofocus>
        </div>

        <a href="" class="btn btn-dark width-100-pc smalltext mt-1h py-h">SEND</a>

        
    </div>
</section>