<section id="enter-pin" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Enter Secure Pin</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>

        <p class="m-0 nanotext py-1 d-flx flx-dir-c">
            <span class="d-flx al-i-c prefix is-standard grey">
                {%- include tools/icons.html icon="naira" -%}
                75,000 will be deducted from your eyowo account
            </span>
            <span class="d-blk">Enter your six digit pin to confirm payment</span>
        </p>

        <div class="d-flx flx-dir-c">
            <label for="security-pin" class="mt-h mb-h">Security Pin</label>
            <input type="text" name="security-pin" id="security-pin" class="px-h" placeholder="Enter Pin..." autofocus>
        </div>

        
        <div class="pt-2 d-flx j-c-fe">
            <div class="d-flx al-i-c j-c-sb">
                <a href="{{site.url}}" class="co-readable-gray mr-1h">
                    Cancel
                </a>
                <a href="#buy-premium" class="btn btn-standard btn-premium btn-dark prefix is-standard">
                    CONFIRM
                </a>
            </div>
        </div>

    </div>
</section>