
<section id="pay-with-pos" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical d-flx flx-dir-c j-c-sb">
        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">POS</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>

        <div class="mt-1h">
            <div>
                <p class="m-0 nanotext ff-heading">Record POS transaction to keep track of earnings.</p>
                <p class="m-0 mt-h largetext ff-heading co-primary">₦500</p>
            </div>
        </div>

        <a href="" class="btn btn-dark width-100-pc mt-1h smalltext py-h">Send Message</a>
    </div>
</section>