<section id="personal-information" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <div class="d-flx al-i-c j-c-sb pb-h border-bottom">
            <h3 class="m-0 fw-normal after-border">Personal Information</h3>
            <button class="uk-modal-close-default without-abs-pos" type="button">
                {%- include tools/icons.html icon="close-circle" -%}
            </button>
        </div>

        <div class="pb-1 border-bottom">
            <div class="grid is-multi-col mostly-3 mt-1h">
                <div class="mb-h">
                    <h3 class="m-0 primarytext ff-body fw-normal co-sweet-gray">NAME</h3>
                    <p class="m-0 co-black nanotext ff-body fw-normal">Ibinye Jamaica</p>
                </div>
            
                <div class="mb-h">
                    <h3 class="m-0 primarytext ff-body fw-normal co-sweet-gray">PHONE</h3>
                    <p class="m-0 co-black nanotext ff-body fw-normal">08108487234</p>
                </div>
            
                <div class="mb-h">
                    <h3 class="m-0 primarytext ff-body fw-normal co-sweet-gray">EMAIL</h3>
                    <p class="m-0 co-black nanotext ff-body fw-normal">ibinye@softccom.ng</p>
                </div>
            </div>
            
            <div class="mt-1">
                <h3 class="m-0 primarytext ff-body fw-normal co-sweet-gray">CUSTOMER SINCE</h3>
                <p class="m-0 co-black nanotext ff-body fw-normal">February 7, 2019 6:40 PM</p>
            </div>
        </div>

        <div class="mt-1">
            <h3 class="m-0 nanotext ff-body fw-normal co-sweet-gray">ACTIVITY</h3>

            <ul class="none m-0">
                <li class="py-1 border-bottom">
                    <p class="m-0 co-black nanotext ff-body fw-normal">₦10,000 Purchase</p>
                    <p class="m-0 co-sweet-gray nanotext ff-body fw-normal">via till AHD-OBI1 - January 21,2019 at 8:32am</p>
                    <a href="" class="co-primary nanotext  mt-1">
                        View Transaction
                        <span class="prefix">{%- include tools/icons.html icon="chevron-right" -%}</span>
                    </a>
                </li>

                <li class="py-1">
                    <p class="m-0 co-black nanotext ff-body fw-normal">₦10,000 Purchase</p>
                    <p class="m-0 co-sweet-gray nanotext ff-body fw-normal">via till AHD-OBI1 - January 21,2019 at 8:32am</p>
                    <a href="" class="co-primary nanotext  mt-1">
                        View Transaction
                        <span class="prefix">{%- include tools/icons.html icon="chevron-right" -%}</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>