<section id="receive-payment" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button">
            {%- include tools/icons.html icon="close-circle" -%}
        </button>
        <div class="flex-center-center flx-dir-c">
            <div class="progress-point modal-point completed-state past"> 
                <span class="check-icon"></span>
            </div>
            <h3 class="m-0 fw-normal pt-1h tx-c">Payment Received</h3>
            <p class="m-0 nanotext tx-c">Go back to <a href="" class="td-underline"> Payments Page</a></p>
        </div>

    </div>
</section>

