<!-- This modal is used for when users want to take actions that are exclusive to premium members -->
<section id="unlock-premium" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button">
            {%- include tools/icons.html icon="close-circle" -%}
        </button>
        <div class="flex-center-center flx-dir-c">
            <div class="modal-point"> 
                {%- include tools/icons.html icon="go-premium" -%}
            </div>
            <h3 class="m-0 fw-medium pt-1h tx-c smalltext">Unlock the benefits of being a Premium member</h3>
            <p class="m-0 primarytext tx-c">Get access to insider perks including increased transaction limits and <a href="" class="td-underline">more</a></p>
        </div>

    </div>
</section>