<nav class="bg-white show-largeup is-raised nanotext z-depth-3 navigation">
    <h2 class="sr">Desktop Navigation</h2>
    <div class="d-flx j-c-sb al-i-c wrapper-x maxwidth-xl mx-auto">
        <a href=" {{ site.url }}" class="logo-holder show-xlargeup">
           {%- include tools/icons.html icon="logo" -%}
        </a> 
        <a href=" {{ site.url }}" class="logo-holder hide-xlargeup">
            {%- include tools/icons.html icon="logo" -%}
        </a> 

        <div class="d-flx al-i-c">
            {%- include components/buttons.html buttons="premium"-%}
            <button class="d-flx al-i-c p-0 suffix is-even-wider">
                <div class="avatar is-nano">
                    <img src="{{ site.url }}/uploads/onboarding.jpeg" alt="" class="width-100-pc height-100-pc avatar is-nano">
                </div>
                
                <div class="d-iflx al-i-c co-readable-gray nanotext suffix">
                    Jaykay S.
                    <span class="suffix">{%- include tools/icons.html icon="arrow-dropdown" -%}</span>
                </div>
            </button>
        </div>
    </div>
</nav>






 <!-- <ul class="nav none m-0 d-iflx pos-rel desktop-nav">
        {%- for entry in site.data.mainnav -%}
        {%- assign class = nil -%}
        {%- assign url = page.url | remove: 'index.html' -%}
        {%- assign entryName = entry.name | downcase | slugify -%}
        {%- if url contains entryName -%}
            {%- assign class = class | append: 'is-active' -%}
        {%- elsif entry.name == 'Your Business' and url == '/' -%}
            {%- assign class = class | append: ' is-active' -%}
        {%- endif -%}
            <li class="pos-rel d-iflx al-i-c">
                <a href="{{ entry.slug | prepend: site.url }}" class="{{ class }} co-readable-gray">
                    {%- unless entry.name == 'Account' -%}
                        {{ entry.name }}
                    {%- endunless -%}
                    {%- if entry.name == 'Account' -%}
                    <div class="d-flx al-i-c ">
                        {%- include tools/icons.html icon="settings" -%}
                        <span class="suffix p-0">{{entry.name}}</span>
                    </div>
                    {%- endif -%}
                </a>
            </li>
        {%- endfor -%}
        </ul> -->