<!-- <section>
    <a href="" class="prefix is-standard d-flx al-i-c">
        {%- include tools/icons.html icon="arrow-left" -%}
        Back
    </a>
    
    <div class="mt-1">
        <h3 class="m-0 fw-medium smalltext">Show in Nearby</h3>
        <p class="m-0 primarytext maxwidth-500 pt-h fw-normal">To appear on nearby you'll need to provide the following details and you will be charged 500 naira monthly</p>
    </div>

    <div class="grid is-multi-col mostly-3 py-1">
    
        <div class="d-flx flx-dir-c">
            <label for="bvn-number" class="mt-h mb-h">BVN number</label>
            <div class="pos-rel input-icons" id="account-number">
                <div class="px-h">
                    <span>2234</span>
                </div>
                <input type="tel" name="account-number" id="account-number" class="pl-2h pr-1" autofocus>
            </div>
        </div>
    
        <div class="d-flx flx-dir-c">
            <label for="billing-method" class="mt-h mb-h">Bank number</label>
            <input type="text" name="billing-method" id="billing-method" class="px-h" placeholder="Enter bank name">
        </div>

        <div class="d-flx flx-dir-c">
            <label for="account-number" class="mt-h mb-h">Account number</label>
            <input type="text" name="account-number" id="account-number" class="px-h" placeholder="Enter account name">
        </div>
    
    </div>

    <div class="d-flx j-c-fe pt-2 pb-1">
        <a href="" class="btn btn-standard btn-dark">VERIFY</a>
</section> -->