<!-- Progress meter component for onboarding pages -->
<ol class="progress-points none d-flx j-c-sb">
    <li class="progress-point"> 
        <span class="check-icon"></span>
        <span class="step-number"> 1 </span>
    </li>
    <li class="progress-point completed-state">
        <span class="check-icon"></span>
        <span class="step-number"> 2 </span>
    </li>
    <li class="progress-point completed-state current">
        <span class="check-icon"></span>
        <span class="step-number"> 3 </span>
    </li>
    <li class="progress-point completed-state past">
        <span class="check-icon"></span>
        <span class="step-number"> 4 </span>
    </li>
    <li class="progress-point">
        <span class="check-icon"></span>
        <span class="step-number"> 5 </span>
    </li>
</ol>