<!-- <section class="is-to-phone">
    <a href="" class="primarytext d-flx al-i-c label co-primary fw-medium">
        {%- include tools/icons.html icon="arrow-left" -%}
        MTN VTU Recharge
    </a> -->

    <!-- First set...  -->
    <!-- <section class="section-with-overflow"> -->
        <!-- without the close button -->
        <!-- <div class="grid is-multi-col mostly-2 pt-1">
            {%- include components/input-fields.html input_fields="required-amount-input-with-focus" -%}
            {%- include components/input-fields.html input_fields="required-phone-input" -%} 
        </div> -->
        
        <!-- with the close button -->
        <!-- <div class="grid mostly-3-with-auto pt-1">
            {%- include components/input-fields.html input_fields="required-amount-input-with-focus" -%}
            {%- include components/input-fields.html input_fields="required-phone-input" -%} 
            <div class="abs-close-button show-largeup">
                {%- include tools/icons.html icon="close-circle" -%}
            </div>
        </div> -->

        <!-- Second set once add new recipients is clicked  -->
        <!-- <div class="grid mostly-3-with-auto pt-1">
            {%- include components/input-fields.html input_fields="required-amount-input-with-focus" -%}
            {%- include components/input-fields.html input_fields="required-phone-input" -%} 
            <div class="abs-close-button show-largeup">
                {%- include tools/icons.html icon="close-circle" -%}
            </div>
        </div> -->
    <!-- </section>

    <p class="picotext pt-1">
        <a href="" class="mr-h">{%- include tools/icons.html icon="plus-circle" -%} Add New Recipients</a> or
        <a href="" class="ml-h mr-h">{%- include tools/icons.html icon="uploads" -%} Upload Recipients</a> (Download sample CSV)
    </p>
    <div class="d-flx flx-dir-c pb-1">
        <label for="transaction-remarks" class="mt-h mb-h picotext">Transaction Remarks</label>
        <input type="text" name="transaction-remarks" id="transaction-remarks" class="px-h" autofocus placeholder="Enter remarks...">
    </div>

    <div class="d-flx j-c-fe pt-2 pb-1">
        {%- include components/buttons.html buttons="active" -%}
    </div>
</section> -->