---
layout: page
---

<section class="bg-white borderline inline-shadow section px-1h py-1h">
    <div class="pos-rel input-icons search-input my-h">
        {%- include tools/icons.html icon="search" -%}
        <input type="tel" name="search" id="search" class="pl-2h pr-1" placeholder="Search product">
    </div>

    <section class="mt-2 bill-by-products">
        <ul class="m-0 none products">
            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>

            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>

            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>

            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>

            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>

            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>


            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>
    
            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>
    
            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>
    
            <li class="d-flx al-i-c j-c-sb px-1 py-h width-100-pc product">
                <div class="d-flx al-i-c">
                    <div class="thumbnail is-micro">
                        <img src="{{ site.url }}/uploads/bill-by-product.svg" alt="" class="width-100-pc height-100-pc">
                    </div>
                    <p class="m-0 ml-1 fw-medium nanotext co-black">Blank Panther</p>
                </div>

                <p class=" d-flx al-i-c co-black fw-medium m-0">
                    {%- include tools/icons.html icon="naira" -%}
                    <span>2,500</span>
                </p>
            </li>
        </ul>
        <div class="borderline billing bg-white borderline inline-shadow">
            <h3 class="m-0 fw-medium co-black nanotext border-bottom px-1h pt-1h pb-1">Selected Products</h3>

            <ul uk-accordion class="m-0 none px-1h py-1h">
                <li class="uk-open">
                    <a class="uk-accordion-title" href="#">Item 1</a>
                    <div class="uk-accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">Item 2</a>
                    <div class="uk-accordion-content">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">Item 3</a>
                    <div class="uk-accordion-content">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</section>