---
layout: page
---


    
<section class="section">
    <h3 class="mediumtext m-0 fw-medium">Branches</h3>
    
    <div class="borderline inline-shadow preferred-radius mt-1 bg-white">

        
        <div class="px-2 py-2">

            <!-- Empty State for Branches -->
            <!-- <section class="height-500-px d-flx al-i-c j-c-center flx-dir-c al-i-c">
                <div>
                    <img src="{{site.url}}/uploads/clipboard.svg" alt="">
                </div>
                <h3 class="m-0 co-black fw-medium nanotext">Nothing here yet</h3>
                <p class="m-0 mt-h ff-heading primarytext">No branch has been made created</p>
                <button class="btn btn-badge btn-dark p-0 d-flx al-i-c mt-1" uk-toggle="target: #add-branch">
                    <span class="prefix">{%- include tools/icons.html icon="plus" -%}</span>
                    <span>CREATE BRANCH</span>
                </button>

                {%- include components/modals/add-branch.html -%}
            </section> -->

            <!-- List of Branches -->
            <!-- <div>
                <div class="d-flx al-i-c j-c-sb flx-wrap">
                    <span class="d-blk mb-h">{%- include components/input-fields.html input_fields="search-input" -%}</span>
                    <button class="btn btn-badge btn-dark p-0 d-flx al-i-c mb-h" uk-toggle="target: #add-branch">
                        <span class="prefix">{%- include tools/icons.html icon="plus" -%}</span>
                        <span>CREATE BRANCH</span>
                    </button>
                </div>
                <ul class="none five-grid-float overflow-auto">
                    <li class="inline-shadow borderline branch-card float-item">
                        <a href="" class="d-blk">
                            <div>
                                <div class="branch-card-image-wrap background-is-filtered black-filtering">
                                    <img src="/uploads/onboarding.jpeg" alt="" class="">
                                    <span class="photo-icon absolute-middle">
                                        {%- include tools/icons.html icon="photo-camera" -%}
                                    </span>
                                </div>
                
                                <div class="branch-card-content-top">
                                    <h3 class="m-0 fw-normal co-readable-gray">Lekki</h3>
                                    <p class="m-0 co-sweet-gray">Nigeria</p>
                                </div>
                            </div>
                
                            <div class="branch-card-content-bottom">
                                <div class="d-flx al-i-c j-c-sb border-top branch-trend-wrapper">
                                    <p class="m-0 d-flx al-i-c nanotext co-readable-gray prefix is-standard readable-gray">
                                        {%- include tools/icons.html icon="naira" -%}
                                        510,000
                                    </p>
                                    <p class="d-flx al-i-c picotext m-0 branch-trend decline">
                                        {%- include tools/icons.html icon="arrow-down" -%}
                                        3.8%
                                    </p>
                                </div>
                                <a href="" class="btn btn-full-width btn-dark no-border-radius">View</a>
                            </div>
                        </a>
                    </li>
                
                    <li class="inline-shadow borderline branch-card float-item">
                        <a href="" class="d-blk">
                            <div>
                                <div class="branch-card-image-wrap background-is-filtered black-filtering">
                                    <span class="photo-icon absolute-middle">
                                        {%- include tools/icons.html icon="photo-camera" -%}
                                    </span>
                                </div>
                
                                <div class="branch-card-content-top">
                                    <h3 class="m-0 fw-normal co-readable-gray">Obiweezy Store Lekki</h3>
                                    <p class="m-0 co-sweet-gray">43 admiralty road, opp studio 24 Lekki Lagos, Nigeria...</p>
                                </div>
                            </div>
                
                            <div class="branch-card-content-bottom">
                                <div class="d-flx al-i-c j-c-sb border-top branch-trend-wrapper">
                                    <p class="m-0 d-flx al-i-c nanotext co-readable-gray prefix is-standard readable-gray">
                                        {%- include tools/icons.html icon="naira" -%}
                                        450,254
                                    </p>
                                    <p class="d-flx al-i-c picotext m-0 branch-trend growth">
                                        {%- include tools/icons.html icon="arrow-up" -%}
                                        3.8%
                                    </p>
                                </div>
                                <a href="" class="btn btn-full-width btn-dark no-border-radius">View</a>
                            </div>
                        </a>
                    </li>
                
                    <li class="inline-shadow borderline branch-card float-item">
                        <a href="" class="d-blk">
                            <div>
                                <div class="branch-card-image-wrap background-is-filtered black-filtering">
                                    <span class="photo-icon absolute-middle">
                                        {%- include tools/icons.html icon="photo-camera" -%}
                                    </span>
                                </div>
                
                                <div class="branch-card-content-top">
                                    <h3 class="m-0 fw-normal co-readable-gray">Obiweezy Store Lekki</h3>
                                    <p class="m-0 co-sweet-gray">43 admiralty road, opp studio 24 Lekki Lagos, Nigeria</p>
                                </div>
                            </div> 
                
                            <div class="branch-card-content-bottom">
                                <div class="d-flx al-i-c j-c-sb border-top branch-trend-wrapper">
                                    <p class="m-0 d-flx al-i-c nanotext co-readable-gray prefix is-standard readable-gray">
                                        {%- include tools/icons.html icon="naira" -%}
                                        230,440
                                    </p>
                                    <p class="d-flx al-i-c picotext m-0 branch-trend decline">
                                        {%- include tools/icons.html icon="arrow-down" -%}
                                        6.5%
                                    </p>
                                </div>
                                <a href="" class="btn btn-full-width btn-dark no-border-radius">View</a>
                            </div>
                        </a>
                    </li>
                </ul>

                {%- include components/modals/add-branch.html -%}
            </div> -->
            
            
            {%- include single-business/branches/single-branch/index.html -%}

        </div>
        
    </div>
</section>

