---
layout: default
---

<div class="page-layout">
    <div class="sidebar-navigation show-mediumup"> 
        <div class="d-flx al-i-c j-c-sb co-rich-black your-business">
            <h2 class="m-0 smalltext fw-medium">Obiwezy Gadgets</h2>
            {%- include tools/icons.html icon="chevron-down" -%}
        </div>
        
        <div class="pt-2 pb-2">

            <div class="navigation-section">
                {%- assign class = nil -%}
                {%- assign url = page.url | remove: 'index.html' -%}
                {%- if url == '/overview/' -%}
                    {%- assign class = class | append: 'is-active' -%}
                {%- endif -%}
                <a href="{{ site.url }}/overview/" class="{{ class }} co-readable-gray">
                    {%- include tools/icons.html icon="overview" -%}
                    <span class="suffix d-blk width-100-pc">Overview</span>
                </a>
            </div>

            <div class="navigation-section mt-2">
                <h3 class="m-0">YOUR BUSINESS</h3>
                <ul class="none m-0 mt-h">
                    {%- for entry in site.data.nav.business -%}
                    {%- assign class = nil -%}
                    {%- assign url = page.url | remove: 'index.html' -%}
                    {%- if url == entry.slug -%}
                        {%- assign class = class | append: 'is-active' -%}
                    {%- endif -%}
                        <li class="">
                            <a href="{{ entry.slug | prepend: site.url }}" class="{{ class }} co-readable-gray">
                                {%- if entry.name == 'Transactions' -%}
                                    {%- include tools/icons.html icon="transactions" -%}
                                {%- elsif entry.name == 'Branches' -%}
                                    {%- include tools/icons.html icon="branches" -%}
                                    {%- elsif entry.name == 'Tills' -%}
                                    {%- include tools/icons.html icon="tills" -%}
                                {%- elsif entry.name == 'Products' -%}
                                    {%- include tools/icons.html icon="products" -%}
                                {%- elsif entry.name == 'Customers' -%}
                                    {%- include tools/icons.html icon="customers" -%}
                                {%- elsif entry.name == 'Reports' -%}
                                    {%- include tools/icons.html icon="reports" -%}
                                {%- endif -%}
                                <span class="suffix d-blk width-100-pc">{{ entry.name }}</span>
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        
            <div class="navigation-section mt-2">
                <h3 class="m-0">MERCHANT TOOLS</h3>
                <ul class="none m-0 mt-h">
                    {%- for entry in site.data.nav.merchant-tools -%}
                    {%- assign class = nil -%}
                    {%- assign url = page.url | remove: 'index.html' -%}
                    {%- if url == entry.slug -%}
                        {%- assign class = class | append: 'is-active' -%}
                    {%- endif -%}
                        <li class="">
                            <a href="{{ entry.slug | prepend: site.url }}" class="{{ class }} co-readable-gray">
                                {%- if entry.name == 'Bill by Product' -%}
                                    {%- include tools/icons.html icon="bill-by-product" -%}
                                {%- elsif entry.name == 'Bill by Amount' -%}
                                    {%- include tools/icons.html icon="bill-by-amount" -%}
                                {%- endif -%}
                                <span class="suffix d-blk width-100-pc">{{ entry.name }}</span>
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        
            <div class="navigation-section mt-2">
                <h3 class="m-0">ACCOUNT</h3>
                <ul class="none m-0 mt-h">
                    {%- for entry in site.data.nav.accounts -%}
                    {%- assign class = nil -%}
                    {%- assign url = page.url | remove: 'index.html' -%}
                    {%- if url == entry.slug -%}
                        {%- assign class = class | append: 'is-active' -%}
                    {%- endif -%}
                        <li class="">
                            <a href="{{ entry.slug | prepend: site.url }}" class="{{ class }} co-readable-gray">
                                {%- if entry.name == 'Settings' -%}
                                    {%- include tools/icons.html icon="settings" -%}
                                {%- endif -%}
                                <span class="suffix d-blk width-100-pc">{{ entry.name }}</span>
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        {%- include shell/nav/mainnav.html -%}
        {%- include shell/logobar.html -%}
        <main>
            <div class="is-page">
                <div class="content-wrap with-activity-bar wrapper-x">
                    <!-- <div class="width-100-pc bg-primary">
                        <div class="mx-auto maxwidth-sl wrapper-x">
                            <div class="d-flx al-i-c j-c-sb py-1h">
                                <p class="microtext co-white m-0 maxwidth-500 lh-1-1h">The highest limit you can have on this account is NGN 1,000,000. To increase limit, kindly contact us at support@eyowo.com</p>
                                <a href=" " class="d-blk">
                                    {%- include tools/icons.html icon="x" -%}
                                </a>
                            </div>
                        </div>
                    </div> -->

                    <div>
                        {{ content }}
                    </div>
                </div>
                <aside class="bg-white activity-wrapper">
                    <div class="pt-2 pb-1h px-2 border-bottom">
                        <h3 class="microtext fw-normal m-0 "> Activities </h3>
                    </div>
                    {%- if page.url == "/" -%}
                    {%- include components/activity-timeline.html activity-timeline="dashboard-filled" -%}
                    {%- elsif page.url == "/empty-index/" -%}
                    {%- include components/activity-timeline.html activity-timeline="dashboard-empty" -%}
                    {%- else -%}
                    {%- include components/activity-timeline.html activity-timeline="site-wide" -%}      
                    {%- endif -%}
                </aside>
            </div>
        </main>
    </div>
</div>