---
layout: page
---


    
<section class="section">
    <h3 class="mediumtext m-0 fw-medium">Products</h3>

    
    <div class="borderline inline-shadow preferred-radius mt-1 bg-white">

        <ul uk-tab class="m-0 tabs">
        {% for entry in site.data.tabs.products %}
            <li class="tab px-1 pt-1 pb-h">
                <a href="tab px-1h py-1">{{ entry.tab-item }}</a>
            </li>
        {% endfor %}
        </ul>
            
        <ul class="uk-switcher px-1h py-1h">
            <li class="">
                <section class="float-wrap d-flx-md">
                    <div class="inline-shadow borderline py-1 pl-1 pr-h preferred-radius bg-white float-item classic-card">
                        <p class="fw-medium m-0 largetext">16</p>
                        <p class="m-0 co-sweet-gray pico-caps">Products</p>
                    </div>
                
                    <div class="inline-shadow borderline py-1 pl-1 pr-h preferred-radius bg-white float-item classic-card">
                        <p class="fw-medium m-0 largetext">16</p>
                        <p class="m-0 co-sweet-gray pico-caps">Nearby Products</p>
                    </div>
                </section>
                
                <section class="mt-2">
                    <label for="business-summary" class="">Show products in </label>
                    <div class="pt-h d-flx-xlg al-i-c j-c-sb">
                        <div class="float-wrap d-flx-md">
                            <div class="float-item">{%- include components/dropdown.html dropdown="all-branches" -%}</div>
                            <div class="pos-rel input-icons search-input my-h float-item">
                                {%- include tools/icons.html icon="search" -%}
                                <input type="tel" name="search" id="search" class="pl-2h pr-1" placeholder="Search product">
                            </div>
                        </div>
                        
                        <div class="float-wrap d-flx-md al-i-c with-pt">
                            <div class="float-item button d-flx al-i-c">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="product1" checked>
                                    <label class="onoffswitch-label" for="product1"></label>
                                </div>
                                <span class="suffix is-wider co-black">Enable Nearby</span>
                            </div>
                            <button class="btn btn-dark float-item button">+ CREATE PRODUCTS</button>
                        </div>
                    </div>
                </section>
                
                <section class="mt-1">
                    {%- include components/tables/reports-branches.html-%}
                </section>
            </li>
            <li></li>
        </ul>
    </div>
</section>



