
<!-- <div>
    <div class="d-flx al-i-c j-c-sb flx-wrap">
        <div>
            <h3 class="m-0 co-readable-gray mediumtext">Go Premium</h3>
            <p class="m-0 nanotext maxwidth-sm mt-h">You can now upgrade from the basic Eyowo business plan to a premium plan to unlock more exciting features</p>
        </div>
    
        <a href="" class="btn btn-badge btn-dark mt-h">VERIFY BUSINESS</a>
    </div>
    
    <ul class="none m-0">
        <li class="pb-h mt-2">
            {%- include tools/icons.html icon="destination" -%}
            <h4 class="m-0 smalltext mt-h"> List Your Business On 'Nearby'</h4>
            <p class="m-0 nanotext maxwidth-sm">Anyone on Eyowo can now find your products, sales points and USSD menu when you list your business on our 'Nearby' feature</p>
        </li>
    </ul>
    
    <h3 class="m-0 co-readable-gray mediumtext mt-2">Pricing</h3>
    <p class="m-0 nanotext maxwidth-sm"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum molestias facere voluptates temporibus asperiores adipisci laboriosam laudantium.</p>
    
    <ul class="none m-0 mt-1h pb-1h grid is-multi-col mostly-2 primarytext co-readable-gray tx-c">
    
        <li class="borderline p-2 pricing-card pos-rel mt-3">
            <p class="m-0 pico-caps bg-primary co-white tag preferred-radius left-shorter">Premium</p>
            {%- include tools/icons.html icon="premium-track" -%}
            <p class="largetext fw-medium m-0 py-1 flex-center-center">
                <span class="prefix is-big readable-gray al-i-c">{%- include tools/icons.html icon="naira" -%}</span>
                75000<sup class="mediumtext">/month</sup>
            </p>
            <ul class="none m-0 fw-medium mb-1 nanotext">
                <li>Shared Account</li>
                <li>Unlimited products on nearby</li>
                <li>Unlimited uploads per day</li>
            </ul>
            <button class="nano-caps px-2 py-h bg-primary co-white pricing-button" uk-toggle="target: #buy-premium">Purchase</button>
        </li>
    </ul> -->

    {%- include components/modals/buy-premium.html -%}
<!-- </div>  -->


<!-- <div>
    <a href="" class="primarytext d-flx al-i-c">
        {%- include tools/icons.html icon="arrow-left" -%}
        <span class="suffix">Back</span>
    </a>

    <div class="pt-1h">
        <h3 class="m-0 co-readable-gray mediumtext">Tell us about your business.</h3>
        <p class="m-0 nanotext maxwidth-sm mt-h">Please provide us with a detailed description of the good or service your business provides.</p>
    </div>

    <div class="three-grid-float d-flx-md al-i-fe flx-wrap">
        <div class="d-flx flx-dir-c float-item">
            <label for="physical-address" class="mb-h">Physical address of the business</label>
            <input type="text" name="physical-address" id="physical-address" class="px-h" autofocus>
        </div>

        <div class="d-flx flx-dir-c float-item">
            <label for="phone-number" class="mb-h">Phone number of the business</label>
            <input type="text" name="phone-number" id="phone-number" class="px-h">
        </div>

        <div class="d-flx flx-dir-c float-item">
            <label for="cac-number" class="mb-h">What is your CAC registration number?</label>
            <input type="tel" name="cac-number" id="cac-number" class="px-h"  class="co-primary">
        </div>

        <div class="d-flx flx-dir-c float-item">
            <label for="business-mail" class="mb-h">Upload your Certificate of Incorporation or Business Name Registration</label>
            <div class="js-upload uploads dashed-border" uk-form-custom>
                <input type="file" multiple>
                <button class="flex-center-center width-100-pc" type="button" tabindex="-1">
                    {%- include tools/icons.html icon="uploads" -%}
                    <span class="ml-h">Upload file...</span>
                </button>
            </div>
        </div>

        <div class="d-flx flx-dir-c float-item">
            <label for="tin" class="mb-h">What is your TIN?</label>
            <input type="tel" name="tin" id="tin" class="px-h"  class="co-primary">
        </div>
    </div>

    <div class="pt-2">
        <a href="" class="btn btn-standard btn-dark">SUBMIT</a>
    </div>
</div> -->

<div>
    <a href="" class="primarytext d-flx al-i-c">
        {%- include tools/icons.html icon="arrow-left" -%}
        <span class="suffix">Back</span>
    </a>

    <div class="pt-1h">
        {%- include components/tables/subscription.html-%}
    </div>
</div>