<div>
    <section>
        <label for="business-summary" class="">Filter: </label>
        <div class="d-flx-xlg al-i-c j-c-sb">
            <div class="d-flx mb-1 mt-h">
                <div class="prefix is-wider">{%- include components/dropdown.html dropdown="date-picker-filter" -%}</div>
                <div class="pos-rel input-icons search-input">
                    {%- include tools/icons.html icon="search" -%}
                    <input type="tel" name="search" id="search" class="pl-2h pr-1" placeholder="Search directory">
                </div>
            </div>
            

            <button class="btn btn-badge btn-dark p-0 mt-h mb-1" uk-toggle="target: #create-user">+ CREATE USER</button>
        </div>
    </section>
    
    <div class="pt-1">
        {%- include components/tables/team.html-%}
    </div>
</div>

{%- include components/modals/create-user.html -%}