<section class="pb-1">
    <div class="d-flx al-i-c j-c-sb">
        <h3 class="fw-normal smalltext m-0 pb-1">Users List</h3>
        <a href="#add-user" class="btn btn-badge btn-badge-standard btn-dark prefix is-xsmall" uk-toggle>
            {%- include tools/icons.html icon="plus" -%}
            ADD USER
        </a>
    </div>
    <p class="nanotext m-0">Here you can add usres and assign roles to them    <span class="d-blk">Contact us at <a href="mailto:support@eyowo.com">support@eyowo.com</a> incase you need any help.</p>

    <ul class="none m-0">
        <li class="pt-1 grid is-multi-col al-i-c mostly-3 pb-1h border-bottom">
            <div class="d-flx al-i-c">
                <img src="/uploads/onboarding.jpeg" alt="" class="avatar is-nano mr-h">
                <div>
                    <p class="fw-medium nanotext m-0"> Jaykay Sholanke <span class="d-blk co-sweet-gray fw-normal picotext">Obiweezy store Ikeja</span></p>
                </div>
            </div>
            <div>
                <input type="text" name="owner" class="px-h" value="Owner" disabled>
            </div>
        </li>
        {%- for entry in site.data.options.user-accounts -%}
        <li class="grid is-multi-col al-i-c mostly-3 pt-1h">
            <div class="d-flx al-i-c">
                <img src="/uploads/onboarding.jpeg" alt="" class="avatar is-nano mr-h">
                <div>
                    <p class="fw-medium nanotext m-0"> {{ entry.name }} <span class="d-blk co-sweet-gray fw-normal picotext">{{entry.store}}</span></p>
                </div>
            </div>
            {%- include components/dropdown.html dropdown="user-roles"-%}
        </li>
        {%- endfor -%}
    <ul>
</section>

{%- include components/modals/add-user.html -%}
